@model Domains.Billing.Models.Patient
<div class="container">
    <div class="row margin-bottom-10">
        <div class="col-lg-3">Identifier</div>
        <div class="col-lg-9"><input type="text" id="patientdetails-identifier" value="@Model.Identifier"/>
        </div>
    </div>
    <div class="row  margin-bottom-10">
        <div class="col-lg-3">First Name</div>
        <div class="col-lg-9"><input type="text" id="patientdetails-first-name" value="@Model.FirstName"/>
        </div>
    </div>
    <div class="row  margin-bottom-10">
        <div class="col-lg-3">Last Name</div>
        <div class="col-lg-9"><input type="text" id="patientdetails-last-name" value="@Model.LastName"/>
        </div>
    </div>
    <div class="row  margin-bottom-10">
        <div class="col-lg-3">Age</div>
        <div class="col-lg-9"><input type="text" id="patientdetails-age" value="@Model.Age"/>
        </div>
    </div>
</div>